<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Shortly</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="/src/jquery.min.js"></script>
    <script src="/src/underscore.min.js"></script>
    <script src="/src/backbone.min.js"></script>
    <script src="/src/handlebars.min.js"></script>

  </head>

  <body>
    <h1>Shortly</h1>
    <%- body %>
  </body>
</html>
